// .navbar-brand {
//     font-family: "Pacifico", sans-serif;
//     font-size: 1rem;
//     font-weight: 400;
//     letter-spacing: 2px;
//     word-spacing: 7px;

// }


// .dropdown-to-left {
//     left: -50%;
// }

// .opac {
//     color: rgba(0,0,0,0.50);
// }

.navbar-brand {
    font-family: "Pacifico", sans-serif;
    word-spacing: 3px;
    letter-spacing: 1px;
}

